#root,
.App {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.nav-item {
  cursor: pointer;
  user-select: none;
}
