@import "./variables.scss";

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.login-title {
    font-size: calcvw(72);
    margin-bottom: 50px;
    font-weight: bold;
}
.login-area {
    width: 400px;
    background: rgba(0, 0, 0, 0);
    border-radius: 5px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-subtitle {
    font-size: calcvw(24);
    font-weight: bold;
    color: $blue;
    margin: 25px 0;
}
.login-divider {
    font-weight: bold;
    margin: 10px 0;
}
.login-row {
    margin: 0;
    display: flex;

    .input-field {
        margin: 0;
    }
}

.login-signin-button {
    cursor: pointer;
    user-select: none;
    font-weight: bold;
    margin: 25px 0;
}

.signinup-button {
    padding: 10px;
    background: red;
    width: 150px;
    border-radius: 12px;
    margin: 10px 0;
    cursor: pointer;
    user-select: none;
}

.alt-login {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    margin: 20px 0 30px 0;
    > * {
        margin: 0 8px;
    }
}

.create-form-submit {
    font-size: 24px;
    background-color: #4caf50; /* Green */
    border: none;
    cursor: pointer;
    border-radius: 12px;
    color: white;
    padding: 12px 24px;
    margin: 24px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.login-email {
    -webkit-appearance: none;
}
