@import "./variables.scss";
.solutions-wrapper {
    width: 100vw;
    height: 100vh;
}

#aboutussvg {
    .cls-1 {
        fill: #4c678b;
    }
    .cls-1,
    .cls-3,
    .cls-5,
    .cls-6,
    .cls-7,
    .cls-8 {
        stroke: #22202e;
    }
    .cls-1,
    .cls-3,
    .cls-4,
    .cls-5,
    .cls-6,
    .cls-7,
    .cls-8 {
        stroke-miterlimit: 10;
    }
    .cls-2 {
        fill: #22202e;
    }
    .cls-3 {
        fill: #fbfafa;
    }
    .cls-4,
    .cls-5,
    .cls-7,
    .cls-8 {
        fill: none;
    }
    .cls-4 {
        stroke: #a0a0a0;
    }
    .cls-6 {
        fill: #ff8785;
    }
    .cls-7 {
        stroke-width: 1.5px;
    }
    .cls-8 {
        stroke-width: 2px;
    }
}

.aboutus-wrapper {
    width: calcvw(1280);
    position: absolute;
    left: 50vw;
    top: 6vw;
    transform: translate(-33.3333vw, 0);
}
