// @font-face {
//     font-family: "Actor";
//     src: url("../assets/fonts/Actor/Actor-Regular.ttf");
// }
// @font-face {
//     font-family: "Varela Round";
//     src: url("../assets/fonts/Varela_Round/VarelaRound-Regular.ttf");
// }
// @font-face {
//     font-family: "Fredoka One";
//     src: url("../assets/fonts/Fredoka_One/FredokaOne-Regular.ttf");
// }
// //set css variables
:root {
    --blue: #47678b;

    //--actor: "Actor", sans-serif;
}
//then call css variables as css variables
$blue: var(--blue);

//$font-actor: var(--actor);

@function calcvw($pxvalue) {
    @return (1vw * ($pxvalue / 19.2));
}

@mixin calcpos($x, $y) {
    left: calcvw($x);
    top: calcvw($y);
}
@mixin calcWidthHeight($width, $height) {
    width: calcvw($width);
    height: calcvw($height);
}
@mixin calcall($x, $y, $width, $height) {
    @include calcpos($x, $y);
    @include calcWidthHeight($width, $height);
}
@mixin center($width, $height) {
    left: 50vw;
    top: 50vh;
    transform: translate(-1px * $width/2, -1px * $height/2);
}
